/* Banner Template */

#banner{
    background-image: url('../images/background-image-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .banner-content{
        background: rgba($color: #000000, $alpha: 0.7);
        height: 100%;
        width: 100%
    }

    .space{
        display: flex;
        justify-content: center;
        padding-top: 14rem;
        width: 100%;
        height: 700px;
        color: white;
        @media screen and (min-width: 1439px){
            margin-bottom: 7rem;
        }
        @media screen and (min-width: 1439px){
            margin-bottom: 7rem;
        }

        .buttons{
            >a{
                margin-right: .7rem;
                padding: .4rem 1.8rem;
                &:hover{
                    background: white !important;
                    >span{
                        color: $dark;
                    }
                }
            }
        }

    }

    /* View port less than or wqual to 992px */

    @media screen and(max-width: 992px){
        .space{
            padding-top: 6rem;
            height: 460px;

        }
        
    }

    /* View port less than or wqual to 375px */

    @media screen and(max-width:375px) {
        .space{
            h1{
                font-size: 2rem;
            }

        }
    }
}