/** Footer customization */

section#newari-food, #footer{
    padding: 3rem 0;
    .company{
        .d-flex{
            > a {
                text-decoration: none;
                color: $dark;
                font-size: .9rem;
                margin: .3rem 0;
                &:hover{
                    color: $orange;
                }
            }
        }
    }    

    .receipe-form{
        padding: 3rem 2rem;
        > .d-flex input.form-control, textarea{
            border: #eeeeee solid 1px;
            width: 100%;
            font-size: 1rem;
            margin: .5rem 0.3rem;
            background-color: $light;
            &::placeholder{
                font-size: .8rem;
                padding:0 .2rem;
            }
        }
        > .d-flex input.form-control{
            border-radius: 4rem;
        }
        > button{
            background-color: $dark;
            color: white;
            padding: .3rem 1.5rem;
            font-size: .8rem;
            &:hover{
                background-color: $orange;
            }
        }
    }
    .copyright-text{
        font-size: 0.8em;
    }
}