/* Global CSS Classes */

.font-rale{
    font-family: $rale;
    font-weight: bold;
}

.font-nun{
    font-family: $nun;
    font-weight: bold;
}

.font-mont{
    font-family: $mont;
    font-weight: bold;
}

.font-roboto{
    font-family: $roboto;
    font-weight: bold;
}

.font-size-sm{
    font-size: 0.8rem;
}

.font-size-md{
    font-size: 1.9rem;
}

.font-size-lg{
    font-size: 3rem;
}

.width-lg-50{
    @media screen and (min-width:992px){
        width: 200px;
    }
}

h1,h2,h3,h4,h5,h6{
    color: $orange;
}

body{

    /* Viewport more than or equal to 1200px */

    @media screen and (min-width: 1200px){
        font-size: 1.2em;
        a.navbar-brand, h6, h6.h6, h4{
            font-size: 1.30em;
        }
        #footer .footer-content .company .d-flex > a{
            font-size: 1em;
        }
        .btn, input.form-control{
            font-size: 1.1em !important;
        }
    }
}
