body{
    font-family: $mont;
}

#header{

    .top{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    .navbar{
        padding: 0 5vmin;
        .collapse{
            .nav-item{
                padding:0.4rem;
                a{
                    color: black;
                    font-weight: bold;
                    &:hover{
                        color: $orange;
                    }
                }                
            }
            .search-text{
                width: 13em;
            }
        }

    }

    .sticky{
        position: fixed;
        top: 0;
        width: 100%;
        color: white;
        background: rgba(0,0,0,0.815);
        z-index:9999;
        transition: all 1.5s ease;
        a{
            color: white;
            &:hover{
                color: $orange;
            }
        }
        .collapse{
            .nav-item{
                .dropdown-menu{
                    background:rgba(0,0,0,0.815);
                    .dropdown-item:hover{
                        background: rgba(0,0,0,0.815);
                    }
                }
                a{
                    color: white;
                    &:hover{
                        color: $orange;
                    }
                }
            }
        }
        .navbar-toggler{
            .navbar-toggler-icon{
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }
        }

    }

}