/* Part of Main Body section : recipes-category */

section#recipes-category .intro-catagory{
    margin-bottom: 3em;
    h1{
        font-size: 4.5vmin;
    }
}

.zoom-pic{
    overflow: hidden;
    img{
        transition: all 1.5s ease;
    }
    &:hover img{
        transform: scale(1.5);
    }
}

section#newari-culture{
    background-color: $dark;
    .container{        
        color: white;
    }
    img{
        width: 100%;
    }
}

section#newa-culture{
    background-color: $light;
    .container{        
        color: white;
        overflow: hidden;
    }
    img{
        width: 100%;
    }
}

section#newa-food {
    background-image: url(../images/background-image-1.JPG);
    background-size: cover;
    background-attachment: fixed;
    .container{
        .img-holder{
            overflow: hidden;
        }
    }
}

.card-body {
    h5.card-title {
        font-weight: bold;
    }
    a.btn{
        font-size: 0.9em !important;
    }
}

/** Receipe Detail Page */

// Top Carousel control for various sizes
.carousel .carousel-item{
    height: 600px;
    @media screen and (max-width: 768px){
        height: 250px;
    }
    img {
        top: 0;
        left: 0;
        min-height: 600px;
        @media screen and (max-width: 768px){
            min-height: 250px;
        }
    }
    .carousel-caption{
        background-color: rgba(0,0,0,0.5);
    }
}

.user-comments{
    img{
        // max-width: 90px;
        // max-height: 90px;
        // border-radius: 340px;
        width: 90px;
    }
}

@media screen and(max-width:375px) {
    section#recipes-category .intro-catagory{
        h1{
            font-size: 1.5em;
            margin-left: 1em;
            margin-right: 1em;
        }

    }
}